<launch>
    <!-- Arguments -->
    <arg name="slam_methods" default="gmapping"/>
    <arg name="configuration_basename" default="astrid_lds_2d.lua"/>
    <arg name="open_rviz" default="true"/>
  

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  
    <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
    <include file="$(find astrid_slam)/launch/gmapping.launch">
      <!-- <arg name="model" value="$(arg model)"/> -->
      <arg name="configuration_basename" value="$(arg configuration_basename)"/>
    </include>
  </launch>
